---
layout: default
---
<ul>
	{% for post in site.tags[page.tag] %}
		<li data-date="{{ post.date | date: '%Y%m%d' }}"><a href="{{  post.url }}?tag={{ page.tag | slugify }}" title="{{ post.title }}"><img src="/assets/img/{{ post.icon | default: 'notepad.png' }}" title="{{ post.title }}" /><span class="nm">{{ post.title }}</span><span class="ty">{% if post.icon == 'video.svg' %}Media Clip{% else %}Notepad{% endif %}</span><span class="dt">{{ post.date | date: "%-d/%-m/%y" }}</span></a></li>
	{% endfor %}
</ul>